*
{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

@keyframes MoveUpDown {
	0%, 100% {
		bottom: 0;
	  }
	  50% {
		bottom: 50px;
	  }
}



@keyframes MoveUpDown1 {
	0%, 100% {
		bottom: 0;
		right: 0;

	  }
	  75%
	  {
		  right:20px;
	  }
	  50% {
		bottom:20px;

	  }
}
.humb
{
	display: none;
}
:root
{
	--light-color:#91ACB5;
    --dark-color: #192830;
}
body
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-family:"poppins", sans-serif;
	text-align: center;
	width: 100%;
	font-size:1.3rem;
	line-height:30pt;

}


header a
{
	text-decoration: none;
}
header
{
	width: 100%;
   height:40em;
	
}


#logo img
{
	animation: MoveUpDown1 6s linear infinite;
	width: 3em;
	float: right;
    height: 4rem;
	position: relative;
    margin:2rem;

}
.navmobile
{
	display: none;
}
.navmobile1
{
	 display:grid;
	 background-color: rgba(0, 0, 0, .2);
	 position: relative;
	 left: 0;
	 margin: 0;
	 padding: 2em;
	 border-radius: 2rem;

}

header ul
{
    list-style:none;
    height: 100%;
    display: flex;
    float:right; 
	margin: 1rem;
	margin-right: 5rem;
 
}

ul a
{
	font-size:0.9em;
	color:whitesmoke;
}
ul a:hover
{
	
	color:var(--light-color);
}

nav ul li 
{
	padding:1vw;


}

.main
{

    display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-around;
	align-items:center;
	width: 100%;
	
   
}
.main button
{
	background-color:#dbecf1 ;
	 border: none;
	 color: #192830;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    font-size:20px;
	margin-top: 3em;
    border-radius: 1rem;
}

button:hover
{
	background-color:#b2dbe7 ;
	 color: #192830;;
   
}

.main img
{
	position: relative;
	height:80%;
	width: 80%;
	animation: MoveUpDown 5s linear infinite;
	

}

.mainp
{
	
	color: aliceblue;	
	margin-left: auto;
	margin-top: 3em;
	
	

}

.main p
{
	font-size:1.2rem;
	margin:2vw;
	line-height:30pt;

}


h1{
	margin: 2em;
	text-align: center;
	color:var(--light-color);
	
}


.work,.about,.contact
{
	justify-content:space-around;
	align-items: center;
    flex-wrap: wrap;
	display: flex;
	width: 100%;

}

.about 
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-around;
	align-items:center;
	width: 100%; 
	column-gap: 2rem;

	
}

.about img
{
	margin-top:5rem;
	animation: MoveUpDown 3s linear infinite;
   position: relative;
	height: 100%;
	width: 100%;
}
.about article 
{
	animation: MoveUpDown 50s ;
	color: var(--dark-color);
	padding: 2rem;
}

.skills
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	color:#344f5e;
	text-align: center;
	
}

.skills img:hover
{
  border:#abbec4 2px solid;
  border-radius:5rem;
}

.skills img
{
	border:#ffffff 2px solid;
 
}

.work
{
	padding:5rem;

}

.work img
{
	width:25rem;
	text-align: center;


}

.skills img
{
	height: 20rem;
	width: 20rem;
}
.contact
{
   display: grid;
   grid-template-columns: 1fr 1fr;

}   
.contact input
{
  display: block;
  margin: 1rem;
  padding: 1.2rem;
  border:none;
  width: 30rem;
  border-radius: 2rem;
 
}

.contact img
{
	height: 40vw;
	width: 40vw;
	position: relative;
	margin-top: 2rem;
	animation: MoveUpDown 3s linear infinite;

}
.submit
{
	background-color: var(--light-color);
	color:var(--dark-color);
	font-weight:bold;
	font-size: 1.2rem;
}
.qout
{
	width: 100%;
	background-image: url("assets/qout.png");
	background-attachment: fixed;
	background-size: cover;
	padding: 5vw;
}
.qout article
{
	background-color:rgba(145, 172, 181,.5);
	padding:5vw;
	border-radius: 3rem;
	
	

}









footer
{

	display: flex;
justify-content: space-around;
	font-size:1rem;
	background-color:#192830;
	color: var(--light-color);
	flex-wrap: wrap;
	height: auto;
	color: #eaf0f1;


}


footer ul
{
	
  
	display: flex;
   justify-content: space-between;
	list-style: none;
	text-decoration: none;


}

footer ul li a
{
	
	text-decoration: none;
	
	margin:1rem;
	
}
footer h1
{
	font-size: 1.5rem;
	margin: 1rem;
}


footer button
{
 margin:25px;
	 border: none;border-radius: 1rem;
    color:white;
    font-style: bold;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color:var(--light-color);


}




.footer-item
{
	margin: 2rem;
}
.footer-item p
{
	margin: 2rem;
}
.last
{
	background-color:var(--dark-color);
	padding: 2rem;
}



	

@media only screen and (max-width: 768px)
{

	.main
	{
	    position: absolute;
		top:0;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		
		
	}
	
   .mainp
   {
	   margin:0.1rem;
	   
   }
   .about,.contact
   {
	   
	   display: flex;
	   flex-wrap: wrap;
	   width: 100%;
	   
	   
   }
   
   .navdesktop
   {
	   display:none;
   }
#logo
{
	display: none;
}
.humb
{
	display: block;
}

}
